<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

    <main>
        <h1>{{title}}</h1>
        <p class="date">{{date}}</p>
        <p class="author">{{author}}</p>

        <hr>
        <article>

            <!-- BLOG CONTENT INSERTED HERE -->
            {{content}}

        </article>
        <hr>

        <footer>
            <ul class="tags-list">
                {{tags}}
            </ul>
        </footer>

    </main>

</body>

</html>
